  <script setup lang="ts">
  import { computed, nextTick, onMounted, ref, watchEffect,  } from 'vue'
  import type { VForm } from 'vuetify/components'
  import type { Salary } from '@/types/Salary';
  import { useSalaryStore } from '@/stores/Salary';
  import { useLoadingStore } from '@/stores/loading'

  const salaryStore = useSalaryStore()
  const tab = ref(0)
  const receiptDialog = ref(false);
  const receiptData = ref<Salary | null>(null);
  const salarys = ref<Salary[]>([]);
    const isPaid = (item: Salary) => {
  return item.status === 'Paid';
};
  const initialSalary: Salary = {
    date: salaryStore.currentTime.toString(),
    fullname: '',
    workinghour: 0,
    workrate: 0,
    status: '',
    salary: 0
  };
  const editedSalary = ref<Salary>(JSON.parse(JSON.stringify(initialSalary)));

  const headers1 = [
    {
      title: 'UserId',
      key: 'id',
      value: 'id'
    },  
    {
      title: 'Date',
      key: 'date',
      value: 'date'
    },
    {
      title: 'Fullname',
      key: 'fullname',
      value: 'fullname'
    },
    {
      title: 'Workinghour',
      key: 'workinghour',
      value: 'workinghour'
    },
    {
      title: 'Workrate',
      key: 'workrate',
      value: 'workrate'
    },
    {
      title: 'Status',
      key: 'status',
      value: 'status'
    },

    { title: 'Actions', key: 'actions', sortable: false }
  ]

  const headers2 = [
    {
      title: 'UserId',
      key: 'id',
      value: 'id'
    },
    
    { title: 'Actions', key: 'actions', sortable: false }
  ]

  const form = ref(false)
  const refForm = ref<VForm | null>(null)
  const dialog1 = ref(false)
  const dialog2 = ref(false)
  const dialogDelete1 = ref(false)
  const dialogDelete2 = ref(false)
  const loading = ref(false)
  const loadingStore = useLoadingStore()

  let editedIndex = -1;
  let lastId = 4;

  function onSubmit() {
    // Implement if needed
  }

  function closeReceiptDialog() {
    receiptDialog.value = false;
  }

  function closeDelete() {
    dialogDelete1.value = false
    nextTick(() => {
      salaryStore.clearForm()
    })
  }

  async function deleteItemConfirm() {
    // Delete item from list
    await salaryStore.deleteSalary()
    closeDelete()
  }
  async function editItem(item: Salary) {
    if (!item.id) return
    await salaryStore.getSalary(item.id)
    dialog1.value = true
  }
  async function deleteItem(item: Salary) {
    if (!item.id) return
    await salaryStore.getSalary(item.id)
    dialogDelete1.value = true
    editedIndex = -1
  }
  function closeDialog() {
    dialog1.value = false
    nextTick(() => {
      salaryStore.clearForm()
    })
  }

  async function save() { 
    const { valid } = await refForm.value!.validate()
    if (!valid) return

    const currentTime = salaryStore.getCurrentTime()

    editedSalary.value.date = currentTime

    await salaryStore.saveSalary()
    closeDialog()
  }

  function openReceiptDialog(item: Salary) {
  receiptData.value = item;
  receiptData.value.salary = item.workinghour * item.workrate;
  receiptDialog.value = true;
}

  onMounted(() => {
    salaryStore.getSalarys()
  })

  </script>

  <template>
    <div>
      <v-tabs v-model="tab" color="#FFA500" align-tabs="center" style="background-color: #aaa">
        <v-tab style="color: white; font-size: 18pt" :value="1" color="black">Payment</v-tab>
        <span class="me-2"></span>
        <span class="me-2"></span>
        <span class="me-2"></span>
        <span class="me-2"></span>
        <span class="me-2"></span>
        <span class="me-2"></span>
        <v-tab style="color: white; font-size: 18pt" :value="2" color="black">History</v-tab>
      </v-tabs>
      <v-window v-model="tab">
        <v-window-item :value="1">
          <v-toolbar flat>
            <v-toolbar-title>Salary Management</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog1" persistent width="1024">
              <template v-slot:activator="{ props }">
               <v-radio-group v-model="salaryStore.selectedFilter" inline>
        <v-radio label="Show All" value="all"></v-radio>
        <v-radio label="Show Paid" value="paid"></v-radio>
        <v-radio label="Show Unpaid" value="unpaid"></v-radio>
      </v-radio-group>
                <v-btn color="primary" v-bind="props"> Add New </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">Salary</span>
                </v-card-title>
                <v-card-text>
                  <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field v-model="salaryStore.currentTime" :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                            label="Date"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field v-model="salaryStore.editedSalary.fullname" :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Fullname"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field v-model="salaryStore.editedSalary.workinghour" :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']" clearable label="Workinghour" type="number"
                            inputmode="numeric"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field v-model="salaryStore.editedSalary.workrate" :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']" clearable label="Workrate" type="number"
                            inputmode="numeric"></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                  <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                  <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog> 

            <!-- Delete Dialog-->
            <v-dialog v-model="dialogDelete1" max-width="500px">
              <v-card>
                <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                  <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-data-table :headers="headers1" :items="salaryStore.filteredSalarys">
          <template v-slot:[`item.status`]="{ item }">
            <v-btn color="green" @click="salaryStore.pay(item)" :disabled="isPaid(item)">
          <v-icon left>mdi-currency-usd</v-icon>
        </v-btn>
          <v-dialog v-model="salaryStore.paymentDialog1" max-width="500px" persistent>
                <v-card>  
                  <v-card-title class="text-h5">Payment Status</v-card-title>
                  <v-card-text>
                    You have paid successfully.
                  </v-card-text>
                  <v-card-actions class="text-right justify-end">
                    <v-btn color="blue darken-1" @click="salaryStore.handleClosePaymentDialog">Close</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <span class="me-2"></span>
              <span class="me-2"></span>
              <v-btn color="red" @click="salaryStore.cancelPayment(item)" :disabled="!isPaid(item)">
  <v-icon>mdi-cancel</v-icon>
</v-btn>
              <v-dialog v-model="salaryStore.paymentDialog2" max-width="500px" persistent>
                <v-card>
                  <v-card-title class="text-h5">Payment Status</v-card-title>
                  <v-card-text>
                    Cancel Payment.
                  </v-card-text>
                  <v-card-actions class="text-right justify-end">
                    <v-btn color="blue darken-1" @click="salaryStore.handleClosePaymentDialog">Close</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
  </template>
  <template v-slot:[`item.actions`]="{ item }">
    <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
    <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
    <span class="me-2"></span>
    <span class="me-2"></span>
  </template>
  <template v-slot:no-data>
    <v-btn color="primary" @click="salaryStore.getSalarys()"> Reset </v-btn>
  </template>
</v-data-table>
        </v-window-item>
        
        <v-window-item :value="2">
          <v-toolbar flat>
            <v-toolbar-title>Salary Management</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>

            <!-- Delete Dialog-->
            <v-dialog v-model="dialogDelete1" max-width="500px">
              <v-card>
                <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                  <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-data-table :headers="headers2" :items="salaryStore.salarysPaid">
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon size="small" @click="() => openReceiptDialog(item)">mdi-eye</v-icon>
              <v-dialog v-model="receiptDialog" max-width="1000px" persistent>
  <v-card>
    <v-card-title class="headline">Receipt Salary</v-card-title>
    <v-card-text>
      <v-container>
        <v-row v-if="receiptData">
          <v-col cols="12" sm="6" md="3">UserID:</v-col>
          <v-col cols="12" sm="6" md="3">{{ receiptData.id }}</v-col>
          <v-col cols="12" sm="6" md="3">Date:</v-col>
          <v-col cols="12" sm="6" md="3">{{ receiptData.date }}</v-col>
          <v-col cols="12" sm="6" md="3">Fullname:</v-col>
          <v-col cols="12" sm="6" md="3">{{ receiptData.fullname }}</v-col>
          <v-col cols="12" sm="6" md="3">Working Hour:</v-col>
          <v-col cols="12" sm="6" md="3">{{ receiptData.workinghour }}</v-col>
          <v-col cols="12" sm="6" md="3">Work Rate:</v-col>
          <v-col cols="12" sm="6" md="3">{{ receiptData.workrate }}</v-col>
          <v-col cols="12" sm="6" md="3">Salary:</v-col>
          <v-col cols="12" sm="6" md="3">{{ receiptData.salary }}</v-col>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" @click="closeReceiptDialog">Close</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
              <span class="me-2"></span>
              <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
              <span class="me-2"></span>
              <span class="me-2"></span>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="salaryStore.getSalarys()"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-window-item>
      </v-window>
    </div>
  </template>
