<script setup lang="ts">
import axios from 'axios'
import { onMounted, reactive, ref } from 'vue'
import { Chart as ChartJS, ArcElement, Tooltip, Legend } from 'chart.js'
import { Pie } from 'vue-chartjs'

ChartJS.register(ArcElement, Tooltip, Legend)

onMounted(async () => {
  await getReportIngredient()
})

function genColor(num: number): string[] {
  const colors = []
  for (let i = 0; i < num; i++) {
    const randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16)
    colors.push(randomColor)
  }

  console.log(colors)
  return colors
}

async function getReportIngredient() {
  const res = await axios.get('http://localhost:3000/report/reportSumIngredient_day')
  console.log(res)
  const labels = res.data.map((it: any) => {
    return it.name
  })

  const data = res.data.map((it: any) => {
    return it.genreCount
  })
  const colors = genColor(labels.length)
  console.log(labels, data)
  chartData.value = {
    labels: labels,
    datasets: [
      {
        backgroundColor: colors,
        data: data
      }
    ]
  }
}

const chartData = ref({
  labels: [],
  datasets: [
    {
      label: 'Data One',
      backgroundColor: [],
      data: []
    }
  ]
})
const chartOptions = ref({
  responsive: false,
  maintainAspectRatio: true
})
</script>
<template>
  <Pie :data="chartData" :options="chartOptions" />
</template>
