<script setup lang="ts">
import { nextTick, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/lib/components/index.mjs';
import type {Promotion} from '@/types/promotion';
import http from '@/services/http';
import { useLoadingStore } from '@/stores/loading';
import promotionService from '@/services/promotion';
import { usePromotionStore } from '@/stores/promotion';
const promotionStore = usePromotionStore()
const headers = [
    {
        title: 'Id',
        key: 'id',
        value: 'id',
    },
    {
        title: 'Promotion name',
        key: 'name',
        value: 'name'
    }
    ,
    {
        title: 'Discount',
        key: 'discount',
        value: 'discount'
    }
    ,
    {
        title: 'Type',
        key: 'type',
        value: 'type'
    }
    ,
    { title: 'Actions', key: 'actions', sortable: false }
]
const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

let editedIndex = -1
let lastId = 4
function onSubmit() {

}
function closeDelete() {
    dialogDelete.value = false
    nextTick(()=>{
      promotionStore.clearForm()
    })
}
async function deleteItemConfirm() {
    //Delete item from list
    await promotionStore.deletePromotion()
    closeDelete()
}
async function editItem(item: Promotion) {
  if(!item.id) return
    await promotionStore.getPromotion(item.id)
    dialog.value = true
}
async function deleteItem(item: Promotion) {
  if(!item.id) return
  await promotionStore.getPromotion(item.id)
    dialogDelete.value = true
    editedIndex = -1
}
function closeDialog() {
    dialog.value = false
    nextTick(()=>{
      promotionStore.clearForm()
    })
}
async function save() {
    const { valid } = await refForm.value!.validate()

    if (!valid) return
    await promotionStore.savePromotion()
    closeDialog()
    
}

//data function

onMounted(() => {
    promotionStore.getPromotions()
})

const showPassword = ref(false);

function togglePasswordVisibility() {
    showPassword.value = !showPassword.value;
}

</script>
<template>
    <div>
      <v-data-table :headers="headers" :items="promotionStore.promotions">
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Promotion</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <!-- Put Edited Dialog -->
  
            <v-dialog v-model="dialog" persistent width="1024">
              <template v-slot:activator="{ props }">
                <v-btn color="primary" v-bind="props"> New Promotion </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">User Profile</span>
                </v-card-title>
                <v-card-text>
                  <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field
                            v-model="promotionStore.editedPromotion.name"
                            :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']"
                            class="mb-2"
                            clearable
                            label="Promotion Name"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field
                            v-model="promotionStore.editedPromotion.discount"
                            :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']"
                            class="mb-2"
                            clearable
                            label="Discount"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-combobox
                            v-model="promotionStore.editedPromotion.type"
                            :items="[
                            'bath', '%'
                            ]"
                            label="Select Type"                           
                          ></v-combobox>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                  <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                  <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
  
            <!-- Delete Dialog-->
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="text-h5"
                  >Are you sure you want to delete this item?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                  <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
          <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="promotionStore.getPromotions"> Reset </v-btn>
        </template>
      </v-data-table>
    </div>
  </template>
  
<style scoped>
.coffee-shop-style {
    background-color: #f5f5f5;
}
.new-user-btn {
    font-size: 18px;
    font-weight: 520;
}
.checkwork-title {
  font-size: 24px;
  font-weight: 520;
  color: white;
}
</style>