<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { User } from '@/types/User'
import http from '@/services/http'
import { useLoadingStore } from '@/stores/loading'
import userService from '@/services/user'
import { useUserStore } from '@/stores/user'
import { useRoleStore } from '@/stores/role'
const userStore = useUserStore()
const userDialog = ref(false)
const profileDialog = ref(false)
const loadingStore = useLoadingStore()
const roleStore = useRoleStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const roles = ref()

let editedIndex = -1
let lastId = 4
function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    userStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await userStore.deleteUser()
  closeDialog()
  closeDelete()
}
async function editItem(item: User) {
  if (!item.id) return
  await userStore.getUser(item.id)
  dialog.value = true
}
async function deleteItem(item: User) {
  if (!item.id) return
  await userStore.getUser(item.id)
  dialogDelete.value = true
  editedIndex = -1
}
function closeDialog() {
  profileDialog.value = false
  dialog.value = false
  userDialog.value = false
  nextTick(() => {
    userStore.clearForm()
  })
}

const item2: any = ref()
function dialogItem(i: User) {
  item2.value = i
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await userStore.saveUser()
  closeDialog()
  profileDialog.value = true
}

onMounted(async () => {
  await userStore.getUsers()
  await roleStore.getRoles()
})
</script>
<template>
  <v-container>
    <h1>Users Management</h1>
    <v-dialog v-model="dialog" persistent width="1024">
      <template v-slot:activator="{ props }">
        <v-btn color="primary" v-bind="props" style="margin-left: 1100px"> New User </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="4">
                  <v-text-field
                    v-model="userStore.editedUser.email"
                    :readonly="loading"
                    :rules="[(v) => !!v || 'Field is required']"
                    class="mb-2"
                    clearable
                    label="Email"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <v-text-field
                    v-model="userStore.editedUser.fullName"
                    :readonly="loading"
                    :rules="[(v) => !!v || 'Field is required']"
                    class="mb-2"
                    clearable
                    label="Full Name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <v-text-field
                    v-model="userStore.editedUser.password"
                    :readonly="loading"
                    :rules="[(v) => !!v || 'Field is required']"
                    clearable
                    label="Password"
                    placeholder="Enter your password"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-combobox
                    label="Gender"
                    :items="['male', 'female', 'others']"
                    v-model="userStore.editedUser.gender"
                  ></v-combobox>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-combobox
                    v-model="userStore.editedUser.roles"
                    :items="roleStore.roles"
                    item-title="name"
                    item-value="id"
                    label="Select roles"
                    multiple
                    :return-object="true"
                  ></v-combobox>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="userStore.editedUser.tel"
                    :readonly="loading"
                    :rules="[(v) => !!v || 'Field is required']"
                    class="mb-2"
                    clearable
                    label="Tel"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-combobox
                    label="Position"
                    :items="['Staff', 'Manager', 'Owner']"
                    v-model="userStore.editedUser.position"
                  ></v-combobox>
                </v-col>
                <v-col cols="12" sm="12" md="3">
                  <v-file-input
                    v-model="userStore.editedUser.files"
                    :rules="[
                      (value) => {
                        return (
                          !value ||
                          !value.length ||
                          value[0].size < 2000000 ||
                          'Avatar size should be less than 2 MB!'
                        )
                      }
                    ]"
                    accept="image/png, image/jpeg"
                    placeholder="Pick an avatar"
                    prepend-icon="mdi-camera"
                    label="Avatar"
                  ></v-file-input>
                </v-col>
                <v-col cols="12" sm="12" md="3">
                  <v-img
                    :src="'http://localhost:3000/images/users/' + userStore.editedUser.image"
                    width="200"
                  ></v-img>
                </v-col>
                <v-col cols="12" sm="12" md="6">
                  <v-text-field
                    v-model="userStore.editedUser.salary"
                    :readonly="loading"
                    :rules="[(v) => !!v || 'Field is required']"
                    class="mb-2"
                    clearable
                    label="Salary"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row style="margin-left: 40px">
      <v-col
        v-for="(item, index) in userStore.users"
        :key="index"
        cols="2"
        style="padding-top: -100px; padding: 100px"
      >
        <v-btn width="80" @click="(userDialog = true), dialogItem(item)">
          <v-card style="width: 180px; border: 1px black solid; border-radius: 30px">
            <v-img :src="'http://localhost:3000/images/users/' + item.image"> </v-img>
            <v-card-text style="text-align: center">
              {{ item.fullName }}
            </v-card-text>
          </v-card>
        </v-btn>
      </v-col>
    </v-row>

    <!--UserDialog-->
    <v-dialog v-model="userDialog" persistent>
      <v-card
        width="580"
        style="margin-left: 480px; font-family: 'Trocchi', serif"
        class="usercard"
      >
        <v-row>
          <v-col style="margin-left: 20px">
            <br />
            <v-row style="height: 6cm">
              <p style="font-size: 45px; line-height: 50px">{{ item2.fullName }}</p>
            </v-row>
            <v-row>
              <v-btn
                @click="(profileDialog = true), (userDialog = false)"
                rounded
                style="margin-left: 20px"
              >
                <v-icon style="font-size: 30px">mdi-card-account-details-outline</v-icon>
              </v-btn>
              <v-btn rounded style="margin-left: 20px">
                <v-icon style="font-size: 30px">mdi-cash-clock</v-icon>
              </v-btn>
              <v-btn rounded style="margin-left: 20px">
                <v-icon style="font-size: 30px">mdi-account-clock</v-icon>
              </v-btn>
            </v-row>
          </v-col>
          <v-col>
            <v-img
              :src="'http://localhost:3000/images/users/' + item2.image"
              width="280"
              style="border: 2px solid black; position: relative"
            ></v-img>
          </v-col>
        </v-row>
        <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
      </v-card>
    </v-dialog>

    <!--ProfileDialog-->
    <v-dialog v-model="profileDialog" persistent>
      <v-card
        width="800"
        style="margin-left: 360px; font-family: 'Trocchi', serif"
        class="usercard"
      >
        <v-container>
          <v-icon style="margin-left: 740px" @click="(profileDialog = false), (userDialog = true)"
            >mdi-close-thick</v-icon
          >
          <h1>Profile</h1>
          <v-row style="font-size: 130%">
            <v-col cols="4">
              <v-img
                :src="'http://localhost:3000/images/users/' + item2.image"
                width="280"
                style="border: 2px solid black; position: relative"
              ></v-img>
            </v-col>
            <v-col cols="5">
              Name: {{ item2.fullName }} <br />
              Email: {{ item2.email }} <br />
              Tel: {{ item2.tel }} <br />
              Gender: {{ item2.gender }} <br />
              <br /><br />
              <v-icon style="font-size: 40px" @click="editItem(item2), (profileDialog = false)"
                >mdi-file-edit</v-icon
              >
              <v-icon style="font-size: 40px" @click="deleteItem(item2)"
                >mdi-trash-can-outline</v-icon
              >
            </v-col>
            <v-col>
              Position: {{ item2.position }} <br />
              Roles:
              <p style="margin-left: 20px" v-for="(r, index) in item2.roles" :key="index">
                {{ r.name }}
              </p>
              Salary: {{ item2.salary }} Bath <br />
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <!--Dialog Delete-->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <br /><br /><br />
    <div></div>
  </v-container>
</template>
<style scoped>
.usercard {
  border-radius: 15px !important;
}
</style>
