<script lang="ts" setup>
import { useLoadingStore } from '@/stores/loading'
import { ref } from 'vue'
const loadingStore = useLoadingStore()
</script>
<template>
  <v-dialog v-model="loadingStore.isLoading" persistent width="auto">
    <div style="text-align: center">
      <v-progress-circular color="brown" size="50" indeterminate></v-progress-circular>
    </div>
  </v-dialog>
</template>
