<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { inject, type Ref } from 'vue'

const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const authStore = useAuthStore()
</script>
<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
    image="https://i.pinimg.com/564x/cc/dc/28/ccdc28d51e3de7d937040ed764840911.jpg"
  >
    <v-list-item
      prepend-avatar="https://i.pinimg.com/564x/28/dc/31/28dc31b35b243051894fa571a929eeb3.jpg"
      :title="authStore.getCurrentUser()?.email"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-book"
        title="Point of Sell"
        value="pos"
        :to="{ name: 'pos' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-home-city"
        title="Home"
        value="home"
        :to="{ name: 'home' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account"
        title="Users"
        value="users"
        :to="{ name: 'users' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-gift"
        title="Product"
        value="product"
        :to="{ name: 'product' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-warehouse"
        title="Stock"
        value="Stock"
        :to="{ name: 'stock' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-cash-fast"
        title="Bill"
        value="bill"
        :to="{ path: '/bill' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-office-building"
        title="Branch"
        value="branch"
        :to="{ path: '/branch' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-sale"
        title="Promotion"
        value="promotion"
        :to="{ path: '/promotion' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-cash"
        title="Checkin"
        value="checkin"
        :to="{ path: '/checkin' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-cash"
        title="Salary"
        value="salary"
        :to="{ path: '/salary' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-cash"
        title="charTest1"
        value="chartTest1"
        :to="{ path: '/chartTest1' }"
      ></v-list-item>
      <!-- <v-list-item prepend-icon="mdi-login" title="Login" value="login" :to="{ path: '/login' }"></v-list-item> -->
      <!-- <v-list-item
        prepend-icon="mdi-logout"
        title="Logout"
        value="logout"
        @click="authStore.logout()"
      ></v-list-item> -->
    </v-list>
  </v-navigation-drawer>
</template>
